@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  width: 11px;
}

body{
    min-height: 300vh;
}

body::-webkit-scrollbar-track{
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #1d87a7;;
}


/* header css starts  */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 10000;
  }

   
  header.sticky{
    padding: 5px 100px;
    background: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  }
  
  header.sticky ul li a{
    color: #1d87a7;
  }
  

  header .logo{
    position: relative;
    width: 80px;
    transition: 0.6s;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
  }
  
  .navbar {
    display: contents;
    justify-content: center;
    padding: 0 50px;
    position: relative;
    width: 100%;
}
  
  .nav-links{
    position: relative;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  
  
  .nav-links li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #1d87a7;
    border-radius: 20px;
    background: #fff;
    letter-spacing: 2px;
    transition: 0.6s;
    padding: 4px 15px;
}



  .nav-links li a:hover{
    background: #1d87a7;
    color: #fff;
    transition: 0.2s;
    /* padding: 5px 10px; */
}
  

.login-btn {
    background: #1d87a7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    border-radius: 30px;
}

.login-btn:hover{
    background: #fff;
    color: #1d87a7;
    transition: 0.2s;
}

.sticky .login-btn:hover{
    border-color: #1d87a7;
    border-style: solid;
}

.navbar .icon {
  display: none;
  color: #1d87a7;
  font-weight: 700;
  font-size: 25px;
}


/* header css ends  */




/* banner css starts  */

  .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/images-1/huskpup.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 0 30px 30px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }
 
  .main-title {
    position: relative;
    top: 33%;
    text-align: center;
}

.main-title h1 {
  font-size: 100px;
  color: #fff;
  text-shadow: -4px 4px #666;
}

.main-title h3 {
  font-size: 22px;
  color: #fff;
}

/* button btn css  */

.btn {
  font-size: 25px;
  background: #1d87a7;
  color: #fff;
  border: 0.25rem solid #1d87a7;
  padding: 2px 20px;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn:hover {
  color: #1d87a7;
}
.btn::after {
  content: "";
  background: #ffffff;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}


.btn[class^="btn"]::after {
  transition: all 0.3s ease;
}
.btn[class^="btn"]:hover::after {
  transition: all 0.3s ease-out;
}

.btn::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}
.btn:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}

/* banner css ends */


/* booking css starts  */

.book-title {
  margin-top: 3rem;
  text-align: center;
  color: #1d86a6;
  background: #fff;
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  background: #1d86a6;
  box-shadow: 0 0.5rem 1rem rgb(17 17 17 / 30%);
  padding: 2rem;
  border-radius: 30px;
}

.book-form form {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  gap: 1.5rem;
}

.book-form form .inputBox {
  -webkit-box-flex: 1;
  flex: 1 1 15rem;
}

.book-form form .inputBox span {
  font-size: 1.4rem;
  color: #fff;
}

.book-form form .inputBox input {
  width: 100%;
  padding: 6px 12px;
  border-radius: 5rem;
  border: none;
  font-size: 13px;
  color: #aaa;
  text-transform: none;
  margin-top: 12px;
}

.btn-form {
  font-size: 18px;
  background: #fff;
  padding: 1px 10px;
  color: #1d86a6;
  border-radius: 20px;
  border: none;
  transition: 0.2s;
  border: 1px solid #1d86a6;
}

.btn-form:hover{
  background-color: #1d86a6;
  color: #fff;
  border: 1px solid #fff;
}

/* booking css ends  */


/* holiday package css starts  */
    

.holiday-packages {
  position: relative;
  margin: 59px 30px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 30px;
}

.holiday-packages a {
  background-color: #1d87a7;
  text-decoration: none;
  color: #fff;
  padding: 8px 10px;
  position: absolute;
  right: 44px;
  top: 36px;
  transition: 0.2s;
  border: 1px solid #1d87a7;
}

.holiday-packages a:hover{
  background-color: #fff;
  border: 1px solid #1d87a7;
  color: #1d87a7;
}

.title {
  color: #1d87a7;
  font-size: 20px;
  padding: 25px 37px;
}

.packages {
  display: flex;
}

.box {
  padding: 20px 30px;
  margin: 20px 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: 0.2s;
  border: 2px solid #fff;
}

.box:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #1d87a7;
}

.image {
  height: 200px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}

.pack-details {
  text-align: center;
}

.pack-details h2{
  font-size: 23px;
  padding: 15px 0;
  color: #1d87a7;
}

.pack-details p{
  color: #1d87a7;
}

.book-btn{
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  background: #1d87a7;
  color: #fff;
  border: 2px  #1d87a7;
  padding: 2px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 10px;
}

.book-btn:hover {
  color: #1d87a7;
  font-weight: 900;
}
.book-btn::after {
  content: "";
  background: #ffffff;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

.book-btn[class^="book-btn"]::after {
  transition: all 0.1s ease;
}
.book-btn[class^="book-btn"]:hover::after {
  transition: all 0.1s ease-out;
}

.book-btn::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: scale(0, 1);
}
.book-btn:hover::after {
  transform: scale(1, 1);
}


/* holiday package css ends  */



/* footer css starts here  */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1d86a6;
  height: auto;
  width: auto;
  color: #fff;
  padding: 46px;
  text-align: center;
}

.abt{
  padding-bottom: 49px;
}

.contact{
  padding-bottom: 30px;
}

.subscribe input{
    font-size: 15px;
    margin: 10px;
    padding: 5px;
}

.social i {
  font-size: 31px;
  margin: 24px 24px;
}

/* footer css ends here  */




















































/* media queries  */


/* ======1100px */
@media (max-width: 1100px) {
  .main-title {
    transform: translate(40%, -50%);
    position: absolute;
  }

  .main-title h1{
    font-size: 80px;
  }

  .main-title h3 {
    font-size: 20px;  
  }
}

/* =======1050px */

@media screen and (max-width: 1050px) {
  .nav-links{
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .login-btn{
    right: 15%;
    display: flex;
    position: absolute;
  } 


  .responsive .nav-links{
    display: flex;
    background-color: #fff;
    min-height: 100%;
    width: 100%;
    position:absolute;
    left: 0%;
  }

  .responsive .login-btn{
    z-index: -1;
  }

  .responsive .navbar{
    display: contents;
    position: absolute;
  }

  .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    position: relative;
    text-align: left;
    left: 10px;
    transition: 0.5s;
  }
}
